header {
  width: 100%;
  height: 60px;
  background: rgb(36, 36, 36);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}
header nav {
  width: max-content;
}
header nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.li {
  text-decoration: none;
  list-style: none;
  background: none;
}
.link {
  color: aliceblue;
  text-decoration: none;
  transition: all 0.1s;
}
.link:active {
  color: rgb(71, 70, 70);
}
.select {
  width: max-content;
  height: 100%;
  margin-top: 20px;
}
.Popap {
  width: 60px;
  height: max-content;
  padding: 5px 10px;
  background: rgb(63, 61, 61);
  border-radius: 5px;
}

.openPopap {
  width: 60px;
  padding: 5px 10px;
  background: rgb(63, 61, 61);
  border-radius: 5px;
}
.closePopap {
  width: 60px;
  height: 40px;
  padding: 7px 10px;
  background: rgb(63, 61, 61);
  border-radius: 5px;
}
.a {
  display: block;
  list-style: none;
  text-decoration: none;
  color: aliceblue;
  transition: all 1s;
}
